# Node modules
node_modules/

# Logs
logs
*.log
npm-debug.log*

# Dependency directories
jspm_packages/
bower_components/

# Production build
/dist

# Optional npm cache directory
.npm

# dotenv environment variables file
.env

# Firebase configuration files
firebase.json
.firebaserc
.env.local
.env.development.local
.env.test.local
.env.production.local

# IDE specific files
.vscode/
.idea/

# Other OS-specific files
.DS_Store
Thumbs.db

# Firebase configuration files
firebase.json
.firebaserc
.env.local
.env.development.local
.env.test.local
.env.production.local